<header>
    <nav class="split">
        <div class="left">
            <a href="/">Shelf.page</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/logout">Log out</a>
            {{else}}
            <a href="/">Get a shelf &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>
        <span class="user-display-name"
              data-o-type="object"
              data-l-key-display_name
              data-i-editable-without-remove
              >{{display_name}}</span>'s shelf.page
    </h1>
    <p class="bio"
       data-o-type="object"
       data-l-key-bio
       data-i-editable-without-remove
       >{{bio}}</p>
</div>

<article>
    {{#if isPageAuthor}}
    <div class="instructions">
        <p><strong>Customize this page!</strong></p>
        <p>
        Parts of this page are <em>editable</em>!
        (<a href="#" id="highlightEditables">Click here</a> to see which parts.)
        </p>
        <p>
        Tap on any editable part of the page to update and remove
        things &amp; share your page with friends with your link,
        <a href="https://shelf.page/{{currentUser.details.username}}"
           target="_blank">
            shelf.page/{{currentUser.details.username}}
        </a>.
        </p>
    </div>
    {{/if}}

    <p class="preamble">
    Here's what {{display_name}} has been reading and recommending, about...
    </p>

    <div data-o-key="topics" data-o-type="list">
        {{#for topic in topics}}
        <section data-o-type="object"
                 data-l-key-name>
            <div class="topic-header split">
                <div class="left">
                    <h2 class="topic-name"
                        data-l-target-name
                        data-i-editable>
                        {{default topic.name "New topic"}}
                    </h2>
                </div>
                <div class="right">
                    <button class="accent block"
                            data-i-new="link">
                        Add link
                    </button>
                </div>
            </div>
            <div class="links"
                 data-o-key="links"
                 data-o-type="list"
                 data-i-sortable>
                {{#for link in topic.links}}
                <div class="block link-item"
                     data-o-type="object"
                     data-l-key-label>
                    <div class="link-title"
                         data-l-target-label
                         data-i-editable>
                        {{default link.label "Article name"}}
                    </div>
                    <div class="link-url"
                         target="_blank"
                         data-o-type="object"
                         data-l-key-url
                         data-i-editable-without-remove>
                        {{default link.url "https://shelf.page/"}}
                    </div>
                    <a class="link-url-button"
                       href="{{link.url}}"
                       target="_blank"
                       noopener noreferer>
                        read this &rarr;
                    </a>
                </div>
                {{/for}}

                {{#if topic.links.length}}
                {{else}}
                <p class="empty-state">Add your first link!</p>
                {{/if}}
            </div>
        </section>
        {{/for}}
    </div>

    <section>
        <h2 data-i-new="topic">
            + Add topic section
        </h2>
    </section>
</article>

<footer>
    <p>
    Shelf.page is a project by
    <a href="https://thesephist.com/">@thesephist</a>.
    It's made with
    <a href="https://remaketheweb.com/" class="remake">Remake</a>
    and
    <a href="https://thesephist.github.io/blocks.css/">blocks.css</a>.
    </p>
</footer>

